$base-color: royalblue;
$border-color: #d7d7d7dd;

body,
html {
  box-sizing: border-box;
  color: #171717;
  font-family: arial;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  // width: 100%;
  margin: 0 auto;
  overflow: auto;
  background-size: cover;
  background-color: #f9f9f9;
}

body {
  // overflow: auto;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  &[v-cloak] {
    display: none;
  }
  header.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    }
  }

  .page {
    flex-grow: 1;
  }
  header {
    flex: 0;
    font-size: 22px;
    width: 100%;
    text-align: center;
    &.top {
      // height: 40px;
      box-shadow: #4446 0 0px 2px;
      margin-bottom: 10px;
      padding: 5px 0;

    }
  }
}
div.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  width: 100%;
}

div.main {
  // position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // margin: 20px 0;
  border: none;
  height: 95%;
  width: 100%;
  padding: 10px 0;

  color: black;
  padding: 0; // margin: 15px;
  // transition: max-height 0.3s ease-out; // note that we're transitioning max-height, not height!
  transition: all 0.6s ease-out; // note that we're transitioning max-height, not height!
  // box-shadow:  0px 0px 0px 0px 10px black;
  border: 1px $border-color solid;
  border-radius: 7px;
  z-index: 20;

  .title {
    position: relative;
    transition: font-size 0.5s ease; // note that we're transitioning max-height, not height!
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    .text {
      flex: 1;
      font-weight: bold;
      vertical-align: middle;
    }
    .main-vid {
      text-align: center;
    }

    .video {
      // position: relative;

      // min-width: 639px;
      // min-height: 470px;
      background: #000e;
      // box-shadow: #4446 0 0px 2px;
      // object-fit: contain;
    }
    .quick-glance {
      flex: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      // z-index: 2;
      // width: auto;
      // position: fixed;
      // bottom: 140px;
      // left: 350px;
      .video {
        background: transparent;
        box-shadow: none;
      }
      .localCam {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .button {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // width: 100%;
    button {
      margin-left: 5px;
    }
  }

  .input-div {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
    margin-top: 5px;
    // font-size: 1.2em;
    font-weight: bold;

    // .vs-input {
    //   margin-left: 7px;
    //   width: 100%;
    //   color: #373737;
    // }

    input {
      // margin-left: 7px;
      width: 100%;
      flex: 1;
    }
  }
  .settings-btn {
    position: relative;
    padding: 5px;

    .settings-drop {
      // min-width: 200px;
      min-height: 200px;
      position: absolute;
      top: 70px;
      left: -250px;
      right: 0;
      margin-right: 10px;
      border-radius: 7px;
      background: #f7f7f7;
    }
  }
}

footer {
  box-sizing: border-box;
}

#page-success {
}

#page-notfound {
}

#page-root {
}
@import "vuesax";
@import "animate";
@import "chatroom";
@import "room-strip";
@import "mobile";
